<div class="media-player fx-row fx-sm-column">
	<div class="fx-item-grow fx-sm-item video-wrapper">
		<video controls id="video-player">
			<source *ngIf="currentVideo" src="{{currentVideo.url}}#t={{currentVideo.startMin}},{{currentVideo.startMax}}">
		</video>
	</div>
	<div class="fx-column fx-item-grow fx-sm-item video-uploader">
		<div class="fx-item video-uploader-form">
			<h3>
				New Video
			</h3>
			<form [formGroup]="videoForm" (ngSubmit)="onSubmit()">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" formControlName="name" class="form-control" id="name" aria-describedby="name" placeholder="Enter name">
				</div>
				<div class="form-group">
					<label for="name">Tags</label>
					<input type="text" formControlName="tags" class="form-control" id="tags" aria-describedby="name" placeholder="Enter tags separated by comma">
				</div>
				<div class="form-group">
					<label for="url">URL</label>
					<input type="text" formControlName="url" class="form-control" id="url" aria-describedby="url" placeholder="Enter URL" (change)="checkVideoDuration()">
				</div>
				<div class="form-group video-limits fx-row fx-sm-row" *ngIf="videoLoaded">
					<div class="fx-item-grow fx-sm-item-grow">
						<label for="startMin">Start from {{getStartTime(videoForm.get('startMin').value)}}</label>
						<div>
							<input type="range" formControlName="startMin" id="startMin" aria-describedby="startMin" class="video-time-slider" [max]="videoDuration">
						</div>
					</div>
					<div class="fx-item-grow fx-sm-item-grow">
						<label for="startMax">End at {{getStartTime(videoForm.get('startMax').value)}}</label>
						<div>
							<input type="range" formControlName="startMax" id="startMax" aria-describedby="startMax" class="video-time-slider" [max]="videoDuration">
						</div>
					</div>
				</div>

				<div *ngIf="videoForm.invalid && (videoForm.dirty || videoForm.touched)" class="alert alert-danger">
					All of the fields are required
				</div>

				<button type="submit" [disabled]="videoForm.invalid" class="btn btn-primary">{{videoEditing ? 'Edit' : 'Add'}}</button>
			</form>
		</div>
		<div class="fx-item video-uploader-list" *ngIf="videos.length > 0">
			<div class="list-group-header">
				<h3>
					List of Videos
				</h3>
				<input type="text" class="form-control" placeholder="Search for a video..." [(ngModel)]="videoSearchTerm">
			</div>
			<ul class="list-group">
				<li *ngFor="let video of getFilteredVideos" class="list-group-item" [ngClass]="{ 'active' : currentVideo.id === video.id }">
					<div class="fx-row fx-sm-row">
						<div class="fx-item-grow fx-sm-item-grow">
							<div>{{video.name}}</div>
							<div

								*ngIf="video.startMin > 0">
								<small [ngClass]="{ 'text-muted' : currentVideo.id != video.id }">
									(Starting from {{getStartTime(video.startMin)}} and ending at {{getStartTime(video.startMax)}})
								</small>
							</div>
							<div
								>
								<small [ngClass]="{ 'text-muted' : currentVideo.id != video.id }">
									Tags: {{video.tags}}
								</small>

							</div>
						</div>
						<div class="fx-item video-uploader-list-controls">
							<button
								type="button"
								class="btn"
								[ngClass]="{ 'btn-light' : currentVideo.id === video.id, 'btn-primary' : currentVideo.id != video.id }"
								(click)="selectVideo(video.id)">
								<i class="fas fa-play"></i>
							</button>
							<button
								type="button"
								class="btn"
								*ngIf="currentVideo.id === video.id"
								[ngClass]="{ 'btn-light' : currentVideo.id === video.id, 'btn-primary' : currentVideo.id != video.id }"
								(click)="pauseVideo()">
								<i class="fas fa-pause"></i>
							</button>
							<button
								type="button"
								class="btn btn-danger"
								(click)="removeVideo(video.id)">
								<i class="fas fa-times"></i>
							</button>
							<button
								type="button"
								class="btn btn-primary"
								(click)="editVideo(video.id)">
								<i class="fas fa-pen"></i>
							</button>
						</div>
					</div>
				</li>
			</ul>
		</div>

	</div>
</div>
